body {
    font-family: BurbankBigCondensed-Black;
    padding: 5mm;
    background-color: rgb(119, 174, 236);
    background-size: cover;
    flex-wrap: wrap;
}
p {
    font-size: 25px;
    color: white;
    font-weight: bold;
}
h2 {
    color: white;
}
@font-face {
    font-family: BurbankBigCondensed-Black;
    src: url(burbank-big-condensed-medium.otf);
  }
img {
    border-radius: 50px;
}
.item {
    float:left;
  margin:5px;
}
.shop {
    width: 100%;
}
.break {
    white-space: pre;
}